* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }
  
    .footer1 {
      width: 100%;
      font: 11px "Open Sans", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: flex;
      flex-flow: column nowrap;
      padding-top: 0%;
      margin-left: 0%;
    }
    ul {
      list-style: none
    }
    a {
      text-decoration: none
    }
    .flex-rw {
      display: flex;
      flex-flow: row wrap;
    }
    footer {
      background: rgb(55,55,55);
      margin-top: auto;
      width: 100%;
    }
    .footer-list-top {
      width: 24.333%;
      text-align:justify;
      
    }
    .footer-list-top > li {
      text-align: center;
      padding-bottom: 10px;
  
    }
    .footer-list-header {
      padding: 10px 0 5px 0;
      color:white;
      font: 1.5em "Oswald", sans-serif
    }
    .footer-list-anchor {
      font: 1.3em "Open Sans", sans-serif;
      color:white;
    }
  
    .footer-bottom-section {
      width: 100%;
      padding: 10px;
      border-top: 1px solid ;
      margin-top: 10px
    }
    .footer-bottom-section > div:first-child {
      margin-right: auto
    }
    .footer-bottom-wrapper {
      font-size: 1.5em;
      color: #fff
    }
    .footer-address {
      display: inline;
      font-style:normal
    }
    .line{
      border-left: 1px solid white;
      height: 100px;
      left: 50%;
      margin-left: -3px;
      top: 0;
    }
    .icons{
      padding-right: 9%;
    }
    section{
      background: rgb(0, 0, 0);
      margin-top: auto;
      height:10%;
      padding:9px;
    }
    .small{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      font-size: 13px;
      color: #fff;
    }
    .line1{
      border-left: 1px solid white;
      height: 14px;
      left: 50%;
      top: 0;
    }
    h4{
      font: 10px;
    }