
.paymenttick{
    margin-top: 500%;
    margin-block: -15%;
    margin-right: 10%;
}
.paymentbody{
    margin-bottom: 100%;
    margin-left: 1%;
font-size: 50%;
margin-top: 10%;
color: rgb(255, 246, 246);
justify-content: center;
}