.ppc{
    margin-left: 15%;
    text-align: justify;
    margin-right: 8%;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 2%;
}
.pph{
    margin-left: 5%;
font-size:40px;
margin-top: 1%;
margin-bottom: 1%;
}
.privacybody{
    margin-top: -53%;
}