.rectangle1
{
    position: absolute;
    width: 500px;
    height: 530px;
    left: 500px;
    top: 70px;
    background: rgba(156, 156, 158, 0.836);
    border-radius: 50px;
   
}

.form1
{
    position: absolute;
    left: 550px;
    top: 185px;
    font-size: 25px;
}

::placeholder
{
    font-size: 20px;
}

.but
{
    position: absolute;
    border-radius: 1000px;
    background: #0e0d0d;
    width: 177px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    color: #fefafa;
    left: 100px;
}

input[type=text100]
{
   
    size: 50;
    height: 25px;
    font-size: 20px;
    width: 220px;
    border-radius: 200px;
}    
input[type=password]
{
    size: 50;
    height: 25px;
    width: 220px;
    font-size: 20px;
    border-radius: 200px;
    
}
input[type=text30]
{
    size: 50;
    height: 25px;
    width: 220px;
    font-size: 20px;
    border-radius: 200px;
}
input[type=text15]
{
    size: 50;
    height: 25px;
    width: 220px;
    font-size: 20px;
    border-radius: 200px;
}

.signup
{
    position: absolute;
   left: 670px;
   top: 90px;
   font-style: normal;
   font-size: 40px;
   color: #0e0e0f;
}
.body1 {
    background-image: url("../images/signup.png");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    
  }
  