.tch{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 4%;
    margin-bottom: 3%;
}
.tcc{
    margin-left: 16%;
    text-align: justify;
    margin-right: 10%;
    margin-bottom: 7%;
    font-size: 20px;
    font-weight: lighter;
    
}
.terms{
    margin-top: -55%;
}