*
{
    padding: 0;
    margin:0;
}
.left-bar
{
    display: flex;
   flex-direction: column;
     height: 800px;
     width: 9%;
     margin-left: -1%;
     background-color: #89379c;
     margin-top: 64px;
}
.left-bar-container
{
    height: 800px;
    background-color: #89379c;
    
}
.left-bar-btn
{
   height: 100px;
   background-color: #a940c1;
}
.profile
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
    font-weight: bold;
    
}
.dashboard
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
    font-weight: bold;

}
.travel
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
    font-weight: bold;
}
.contact
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
    font-weight: bold;
}
.about
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px; 
    font-weight: bold;
}
.logout
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px; 
    font-weight: bold;

}